body, html {
	margin: 0px;
}

header {
	height: 55px;
	vertical-align: top;
	background-image: url(../img/owaspFondo.png);
	background-repeat: no-repeat;
	background-position: 0;
}

header img {
	display: inline-block;
	height: 55px;
	vertical-align: top;
}

header .logo {
	width: 35%;
}

header .contenedorSubTitulo {
	width: 64%;
}

header div {
	display: inline-block;
	vertical-align: top;
}

header h1 {
	color: #FFF;
	display: inline-block;
	display: inline-block;
	margin: 10px 10px 10px -10px;
	text-shadow: 2px 1px 5px #050818;
}

header div h2 {
	color: #FFF;
	margin: 14px;
	text-shadow: 2px 1px 5px #050818;
}

.menuFixed {
	position: fixed;
	top: 0px;
	z-index: 2;
}

nav {
	background: rgb(230, 130, 30);
	display: block;
	width: 100%;
}

nav ul {
	text-align: center;
	margin: 0 auto;
	padding: 5px 10px;
	color: #fff;
	list-style: none;
}

nav ul .menuContainer {
	margin: 0px;
	display: inline-block;
	border-left: 1px solid rgb(183, 97, 11);
	border-right: 1px solid rgb(183, 97, 11);
	cursor: pointer;
	position: relative;
}

nav ul li label {
	cursor: pointer;
	display: block;
	padding: 10px 5px;
}

nav ul li:hover>ul {
	display: block;
}

nav ul li ul {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid rgb(156, 81, 6);
	top: 35px;
	padding: 0px;
	border-radius: 0px 0px 5px 5px;
	z-index: 2;
}

nav ul li ul li {
	text-align: left;
	display: block;
	padding: 3px;
}

nav ul li ul li a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	color: #555;
}

nav ul li ul li a:hover {
	background: rgba(111, 191, 90, 0.9);
	color: #fff;
}

footer {
	height: 45px;
	background-image: url(../img/owaspFondo.png);
	background-repeat: no-repeat;
	background-position: 0;
	text-align: center;
}

footer .textoFooter {
	color: #fff;
	line-height: 40px;
	text-shadow: 2px 1px 5px #050818;
}

.contenedorLogin,.contenedorMaterial {
	width: 100%;
	max-width: 300px;
	margin: 10px auto;
	border: 1px solid #4B9937;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
.contenedorLogin .cabecera,.contenedorMaterial .cabecera{
	background: #459e00;
	color: #fff;
	padding: 5px;
	border-radius:5px;
}